<!DOCTYPE html>
<html lang="ja" xmlns:th="http.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>掲示板アプリケーション</h2>
<form th:action="@{/article/insert-article}"
           method="post"
           th:object="${articleForm}">
<div th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}" style="color:red"></div>
投稿者名：<input type="text" name="name"><br>
<div th:if="${#fields.hasErrors('content')}"
         th:errors="*{content}" style="color:red"></div>
投稿内容：<textarea rows="2" cols="20" 
                  name="content"></textarea><br>
<button>記事投稿</button>
</form>
<hr>
<div th:each="article:${articleList}">
投稿ID：<span th:text="${article.id}"></span><br>
投稿者名：<span th:text="${article.name}"></span><br>
投稿内容：<span th:text="${article.content}"></span><br>
<form th:action="@{/article/delete-article}"
           method="post">
<input type="hidden" name="id" th:value="${article.id}">           
<button>記事削除</button>
</form>
<p th:each="comment:${article.commentList}">
コメントID：<span th:text="${comment.id}"></span><br>
コメント者名：<span th:text="${comment.name}"></span><br>
コメント内容：<span th:text="${comment.content}"></span><br>
</p>
<form th:action="@{/article/insert-comment}" th:object="${commentForm}" method="post">
<input type="hidden" name="articleId"
                      th:value="${article.id}">
<div th:if="${#fields.hasErrors('name')} AND ${commentForm.articleId} == ${article.id}"
         th:errors="*{name}" style="color:red"></div>
名前：<input type="text" name="name"
                     th:if="${selectedId} == ${article.id}" th:field="*{name}">
          <input type="text" name="name"
                     th:unless="${selectedId} == ${article.id}" ><br>
<div th:if="${#fields.hasErrors('content')} AND ${selectedId} == ${article.id}"
         th:errors="*{content}" style="color:red"></div>
コメント：<textarea rows="2" cols="20" name="content"
                            th:if="${selectedId} == ${article.id}" th:field="*{content}"></textarea>
             <textarea rows="2" cols="20" name="content"
                            th:unless="${selectedId} == ${article.id}" ></textarea><br>
<button>コメント投稿</button>
</form>
<hr>
</div>
</body>
</html>